{#
/**
 * @file
 * Default theme implementation to display an example Gutenberg block server-side.
 *
 * Available variables:
 * - block_name: The Gutenberg block name.
 * - block_content: The content of this block.
 * - block_attributes: The attributes of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *
 * @see template_preprocess_gutenberg_block()
 * @see template_preprocess_gutenberg_block__uswds__card()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('gutenberg_uswds_process_list/block-view') }}
{%
  set classes = [
    'usa-process-list',
    block_attributes.layout == 'alphabetical' ? 'usa-process-list--alphabetical',
    'usa-process-list--' ~ block_attributes.borderColor,
  ]
%}
<h3 class="usa-process-list__title">{{ block_attributes.title }}</h3>
<ol {{ attributes.addClass(classes) }}>
  {{ block_content }}
</ol>
